@using iCollections.Controllers;
@model SearchList

@{
    ViewData["Title"] = "SearchUser";
}

<h1>Search User</h1>
<div class="row">
    <div class="col">
        @if (Model.results.Count() == 0)
        {
            <h2>Oops! Nothing here.</h2>
        }
        @foreach (IcollectionUser result in Model.results)
        {
        <div class="user-search-item">
            <div class="img-container">
                @if (result.ProfilePicId.HasValue)
                {
                    <img src="@result.Photos.FirstOrDefault(x => x.Id == result.ProfilePicId).ToViewableFormat()" class="img-thumbnail" />
                }
                else
                {
                    <img class="img-thumbnail" />
                }
            </div>
            <div class="user-search-info">
                <h3>
                    <a asp-controller="UserPage" asp-action="Index" asp-route-name="@result.UserName">@result.UserName</a>
                </h3>
                <span>
                    @Html.DisplayFor(modelItem => result.FirstName)
                </span>
                <span>
                    @Html.DisplayFor(modelItem => result.LastName)
                </span>
            </div>
            <div class="follow-box">
                @if (Model.loggedInUser != null)
                {
                    if (Model.loggedInUser.FollowFollowerNavigations.Any(x => x.FollowedNavigation.Id == result.Id))
                    {
                        <span>
                            <a class="btn btn-primary following-button text-light" value-target="@result.Id">Following</a>
                        </span>
                    }
                    else
                    {
                        <span>
                            <a class="btn btn-primary follow-button text-light" value-target="@result.Id">Follow</a>
                        </span>
                    }
                }
            </div>
        </div>
        }
    </div>
</div>
