@using iCollections.Controllers;
@model SearchList

@{
    ViewData["Title"] = "SearchUser";
}

<h1>Search User</h1>
<div class="row">
    <div class="col">
        @foreach (IcollectionUser result in Model.results)
        {
        <div class="user-search-item">
            <div class="img-container">
                <img src="@result.Photos.FirstOrDefault(x => x.Id == result.ProfilePicId).ToViewableFormat()" class="img-thumbnail" />
            </div>
            <div class="user-search-info">
                <h3>
                    <a asp-controller="UserPage" asp-route-name="@result.UserName">@result.UserName</a>
                </h3>
                <span>
                    @Html.DisplayFor(modelItem => result.FirstName)
                </span>
                <span>
                    @Html.DisplayFor(modelItem => result.LastName)
                </span>
            </div>
            <div class="follow-box">
                @if (Model.loggedInUser != null)
                {
                    if (Model.loggedInUser.FollowFollowerNavigations.Where(x => x.FollowedNavigation.Id == result.Id).ToList().Count > 0)
                    {
                        <span>
                            <a class="btn btn-danger unfollow-button text-light">Unfollow</a>
                        </span>
                    }
                    else
                    {
                        <span>
                            <a class="btn btn-primary follow-button text-light">Follow</a>
                        </span>
                    }
                }
            </div>
        </div>
        }
    </div>
</div>
