@model BrowseList

@{
    ViewData["Title"] = "Collections";
}

<div class="justify-content-center" > <h1 class="text-center">My Collections</h1> </div>




<div class="container">

    @if (Model != null)
    {

        <!--
            string[] colls = { "/images/card_pics/IMG-0833.JPG", "/images/dogtoy_pics/IMG-0869.JPG",
        "/images/fish_pics/fish3.png", "/images/puzzel_pics/image_123923953(14).JPG", "/images/tool_pics/IMG-0837.JPG",
        "/img/2D_example.jpg" };

            Random rand = new Random();
                -->

        <h5>Result(s): @Model.SearchResults.Count() Collection(s)</h5>
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @ViewBag.SuccessMessage
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">Preview Photo</th>
                    <th scope="col"><a style="color:black;" href="?name=@Model.VisitedUser.UserName&sort=name">Name</a></th>
                    <th scope="col">
                        <a style="color:black;"
                           href="?name=@Model.VisitedUser.UserName&sort=keyword">Keyword(s)</a>
                    </th>
                    <th scope="col">
                        <a style="color:black;" href="?name=@Model.VisitedUser.UserName&sort=date">
                            Date
                            Created
                        </a>
                    </th>
                    <th scope="col"><span style="color:black;">Delete</span></th>
                    <th scope="col"><span style="color:black;">Make Private</span></th>
                </tr>
            </thead>
            @foreach (CollectionKeyword ck in Model.SearchResults)
            {
                string visible = "";
                if (ck.Collect.Visibility == 0)
                {
                    visible = "checked";
                }
                <tr>
                    <td>
                        <div class="row-auto">
                            <div class="col">
                                <img src="data:image;base64,@System.Convert.ToBase64String(ck.Collect.CollectionPhotoes.FirstOrDefault().Photo.Data)" width="118" height="118" alt="" />
                            </div>
                            <div class="col"><button type="button" class="btn btn-outline-primary btn-sm fav_btn" data-bs-toggle="button" id="@ck.CollectId" value="@Model.VisitedUser.UserName" name="@Model.LoggedInUser.UserName">Add to Favorites</button></div>
                        </div>
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="@ck.Collect.Route" asp-route-collectionID="@ck.Collect.Id"> @ck.Collect.Name </a>
                    </td>
                    <td>
                        @ck.Keyword.Name
                    </td>
                    <td>
                        @ck.Collect.DateMade
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@ck.Collect.Id">Delete</a>
                    </td>
                    <td>
                        <div class="text-center">
                            <input class="pvt_btn form-check-input" type="checkbox" name="@ck.Collect.User.UserName" id="@ck.Collect.Id" @visible />
                        </div>
                    </td>

                </tr>
            }

        </table>

        if (Model.SearchResults.Count() == 0)
        {
            <div class="text-center">
                <h1>@Model.VisitedUser.FirstName does not have any collections matching those keywords</h1>
            </div>
        }
    }


    else
    {

        <div class="text-center">
            <h1>@Model.VisitedUser.FirstName does not have any collections yet, Bummer!</h1>
        </div>

    }

</div>
