@model IEnumerable<HimalayanProject.Models.Expedition>

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="row">
    <div class="col-lg">

        <form method="get" class="valid" asp-controller="Home" asp-action="Search">

            <div class="row">

                <div class="col">
                    <h3>Expedition Search</h3>
                    <input class="form-control col-md-8" type="text" name="search_term" />
                    <br />
                </div>

            </div>

            <div class="row">

                <div class="col-sm-auto">

                    <label>Search By:</label>
                    <div class="form-inline align-top">
                        <div class="list-group list-group-horizontal">
                            <label class="list-group-item" aria-label="">
                                <input class="form-check-input me-1" name="collection" type="radio"   value="Peak">
                                Peak
                            </label>
                            <label class="list-group-item" aria-label="">
                                <input class="form-check-input me-1" name="collection" type="radio" value="Trekking Agency">
                                Trekking Agency
                            </label>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-auto">

                    <br />

                    <div class="form-inline align-top">

                        <label for="cars"></label>
                        <select class="custom-select" name="outcome" id="outcome">
                            <option selected>Outcome?:</option>
                            <option value="success">Success</option>
                            <option value="failure">Failure</option>
                        </select>

                        <label for="cars"></label>
                        <select class="custom-select" name="season" id="season">
                            <option selected>Season:</option>
                            <option value="spring">Spring</option>
                            <option value="summer">Summer</option>
                            <option value="autumn">Autumn</option>
                            <option value="winter">Winter</option>
                        </select>

                        <label for="cars"></label>
                        <select class="custom-select" name="year" id="year">
                            <option selected>Year:</option>
                            @foreach (Expedition e in Model)
                            {
                                <option value="@e.Year">@e.Year</option>
                            }
                        </select>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-sm-auto">

                    <br />
                    <button type="submit" class="btn btn-dark"> Search </button>

                </div>

            </div>

        </form>

    </div>


    <div class="col">

        <table class=".table-sm table-borderless">
            @{
                int init = 0;
            }
            @foreach (Expedition ex in Model)
            {
                if (ex.Peak != null)
                {
                    init = 1;
                }

            }
            @if (init != 0)
            {
                <tr>
                    <th>Peak</th>
                    <th><span>  </span></th>
                    <th>Height</th>
                    <th><span>  </span></th>
                    <th>Season</th>
                    <th><span>  </span></th>
                    <th>Year</th>
                </tr>
                @foreach (Expedition e in Model)
                {
                    <tr>
                        <td>@e.Peak.Name</td>
                        <td><span>  </span></td>
                        <td>@e.Peak.Height</td>
                        <td><span>  </span></td>
                        <td>@e.Season</td>
                        <td><span>  </span></td>
                        <td>@e.Year</td>

                    </tr>
                }
            }



        </table>

    </div>

</div>