@using iCollections.Data;
@using Microsoft.AspNetCore.Identity;
@inject ICollectionsDbContext AppContext
@model UserProfile

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <!--Column 1 - About, content, etc-->
    <div class="col col">
        <!--About-->
        <div class="row">
            <form method="post" enctype="multipart/form-data" asp-controller="UserPage" asp-action="Edit">
                <div class="col user-profile-obj" id="follow-button">
                    @if (Model.ProfileOwner.ProfilePicId.HasValue)
                    {
                        <img class="user-profile-img" src="data:image;base64,@System.Convert.ToBase64String(@Model.ProfileOwner.Photos.FirstOrDefault(p => p.Id == Model.ProfileOwner.ProfilePicId.Value).Data)" />
                    }
                    else
                    {
                        <img class="user-profile-img">
                    }
                    <input id="profileimg" type="file" accept="image/*" name="profileimg"/>

                    <div class="form-group">
                        <h2><input class="form-control" value="@Model.ProfileOwner.UserName" name="username" minlength="2" placeholder="Username"/></h2>
                        <h3><input class="form-control" value="@Model.ProfileOwner.FirstName" name="firstname" minlength="2" placeholder="First name"/></h3>
                        <h3><input class="form-control" value="@Model.ProfileOwner.LastName" name="lastname" minlength="2" placeholder="Last name"/></h3>
                    </div>
                    
                    <div class="about-me">
                        <p>Date Joined: @DateTime.Now</p>
                        <div class="form-group">
                            <p>About me: <input class="form-text" value="@Model.ProfileOwner.AboutMe" name="aboutme" minlength="1" placeholder="About me"/></p>
                        </div>
                        <p>Followers: @Model.ProfileOwner.FollowFollowedNavigations.ToList().Count</p>
                        <p>Following: @Model.ProfileOwner.FollowFollowerNavigations.ToList().Count</p>
                    </div>
                    <button class="btn btn-primary" type="submit">Done</button>
                </div>
            </form>
        </div>

        <!--Content-->
        <div class="row">
            <div class="col user-profile-obj">
                <h2>Recent Photos:</h2>
                @foreach (var photo in Model.ProfileOwner.Photos.Take<Photo>(10))
                {
                    <div>
                        <p>Name: @photo.Name</p>
                        <p>Date Uploaded: @photo.DateUploaded</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
