@model UserProfile

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <!--Column 1 - About, content, etc-->
    <div class="col col">
        <!--About-->
        <div class="row">
            <div class="col user-profile-obj" id="follow-button">
                <img class="user-profile-img" src="@ViewBag.ImageDataUrl">
                <h2>@Model.ProfileOwner.UserName</h2>
                <h3>@Model.ProfileOwner.FirstName @Model.ProfileOwner.LastName</h3>
                <div class="about-me">
                    <p>Date Joined: @DateTime.Now</p>
                    <p>About me: @Model.ProfileOwner.AboutMe</p>
                    <p>Followers: @Model.ProfileOwner.FollowFollowedNavigations.ToList().Count</p>
                    <p>Following: @Model.ProfileOwner.FollowFollowerNavigations.ToList().Count</p>
                </div>
                <br />

                @{string status = " "; string color = " "; string follow = " "; }

                @if (Model.ProfileOwner.FollowFollowedNavigations.Any(f => f.Follower.Value == Model.ProfileVisitor.Id))
                {

                    status = "following";
                    color = "danger";
                    follow = "Un-Follow";

                }


                else
                {
                    status = "new";
                    color = "primary";
                    follow = "Follow";

                }

                <button type="button" name="@status" id="@Model.ProfileOwner.UserName" class="btn btn-outline-@color">@follow</button>

            </div>
        </div>

        <!--Content-->
        <div class="row">
            <div class="col user-profile-obj">
                <h2>Recent Photos:</h2>
                @foreach (var photo in Model.ProfileOwner.Photos.Take<Photo>(10))
                {
                    <div>
                        <p>Name: @photo.Name</p>
                        <p>Date Uploaded: @photo.DateUploaded</p>
                    </div>
                }
            </div>
        </div>
    </div>

    <!--Column 2 - Navigation
    <div class="col col-2 user-profile-nav">
        <h2>Navigation</h2>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a asp-action=Followers asp-route-name="@Model.ProfileVisitor.UserName" class="nav-link text-dark">Followers</a>
            </li>
            <li class="nav-item">
                <a asp-action="Following" asp-route-name="@Model.ProfileVisitor.UserName" class="nav-link text-dark">Following</a>
            </li>
            <li class="nav-item">
                <a asp-action="Collections" asp-route-name="@Model.ProfileVisitor.UserName" class="nav-link text-dark">Collections</a>
            </li>
        </ul>
    </div>
    -->


    <!--Temp Navigation-->
        <div class="col-sm-3">
            <div class="col user-profile-nav">

                <h2>Navigation</h2>
                <table style="border-top-style:dotted; border-top-width:initial;" class="table table-hover flex-column">
                    <tr class="nav-item">
                        <td><a class="text-primary" href="@Model.ProfileVisitor.UserName/following">Following</a></td>
                    </tr>
                </table>

            </div>
        </div>



    </div>
