@model UserProfile  

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <!--Column 1 - About, content, etc-->
    <div class="col col">
        <!--About-->
        <div class="row">
          
            <div class="col user-profile-obj" id="follow-button">
                @if (Model.ProfileOwner.ProfilePicId.HasValue)
                {
                    <img class="user-profile-img" 
                         src="@Model.ProfileOwner.Photos.FirstOrDefault(p => p.Id == Model.ProfileOwner.ProfilePicId.Value)">
                }
                else
                {
                    <img class="user-profile-img">
                }
                <h2>@Model.ProfileOwner.UserName</h2>
                <h3>@Model.ProfileOwner.FirstName @Model.ProfileOwner.LastName</h3>

                <div class="about-me">
                    <p>Date Joined: @DateTime.Now</p>
                    <p>About me: @Model.ProfileOwner.AboutMe</p>
                    <p>Followers: @Model.ProfileOwner.FollowFollowedNavigations.ToList().Count</p>
                    <p>Following: @Model.ProfileOwner.FollowFollowerNavigations.ToList().Count</p>
                </div>
                <br />

                @if (Model.ProfileVisitor != null)
                {
                    if (Model.ProfileVisitor.FollowFollowedNavigations.Any(x => x.FollowedNavigation.Id == Model.ProfileOwner.Id))
                    {
                        <button type="button" name="following" class="btn btn-outline-primary following-button">Following</button>
                    }
                    else
                    {
                        <button type="button" name="new" class="btn btn-outline-primary follow-button">Follow</button>
                    }
                }

            </div>
        </div>

        <!--Content-->
        <div class="row">
            <div class="col user-profile-obj">
                <h2>Recent Photos:</h2>
                @foreach (var photo in Model.ProfileOwner.Photos.Take<Photo>(10))
                {
                    <div>
                        <p>Name: @photo.Name</p>
                        <p>Date Uploaded: @photo.DateUploaded</p>
                    </div>
                }
            </div>
        </div>
    </div>

    <!--Column 2 - Navigation
    <div class="col col-2 user-profile-nav">
        <h2>Navigation</h2>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a asp-action=Followers asp-route-name="@Model.ProfileOwner.UserName" class="nav-link text-dark">Followers</a>
            </li>
            <li class="nav-item">
                <a asp-action="Following" asp-route-name="@Model.ProfileOwner.UserName" class="nav-link text-dark">Following</a>
            </li>
            <li class="nav-item">
                <a asp-action="Collections" asp-route-name="@Model.ProfileOwner.UserName" class="nav-link text-dark">Collections</a>
            </li>
        </ul>
    </div>
    -->


    <!--Temp Navigation-->
        <div class="col-sm-3">
            <div class="col user-profile-nav">

                <h2>Navigation</h2>
                <table style="border-top-style:dotted; border-top-width:initial;" class="table table-hover flex-column">
                    <tr class="nav-item">
                        <td><a class="text-primary" asp-action="Following" asp-route-name="@Model.ProfileOwner.UserName">Following</a></td>
                        <!--<td><a class="text-primary" asp-action="Following" asp-route-name="@Model.ProfileOwner.UserName" href="@Model.ProfileOwner.UserName/following">Following</a></td>-->
                    </tr>
                </table>
            </div>
        </div>
    </div>
