@model List<RenderingPhoto>;

@{
    ViewData["Title"] = "Home Page";
}

@{
    if (ViewData["collectionTitle"] != null)
    {
        <h1 class="creation-page-title">@ViewData["collectionTitle"].ToString()</h1>
    }
}


<div id="ocean_container2"></div>
@{
    if (Model != null)
    {
        var counter = 1;
        <table hidden>
            @foreach (var photo in Model)
            {
                string thisId = "photo" + counter.ToString();

                <tr id="@thisId" data-rank="@photo.Rank" data-title="@photo.Title" data-description="@photo.Description" data-photodata="@photo.Data" hidden></tr>

                counter = counter + 1;
            }
        </table>
    }

}

@{
    if (ViewData["collectionDescription"] != null)
    {
        
        <div>
             <h3 class="creation-page-title">@ViewData["collectionDescription"].ToString()</h3>
        </div>

    }
}

<div class="row justify-content-end environment-buttons">
    <div class="col-2">
        <div class="">
            <button class="btn btn-primary" onclick="goBack()">Go Back</button>
        </div>
    </div>
</div>

<script src="~/js/ocean_example.js" asp-append-version="true" type="module"></script>