@model BrowseList

@{
    ViewData["Title"] = "Browse";
}

@using iCollections.Data;
@inject ICollectionsDbContext AppContext

<div class="container">

    <div class="row justify-content-center p-3">
        <h2 class="display-4"><strong>iCollections</strong></h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-3 text-center">
                <div class="container">
                    <br />
                    <br />
                    <br />
                    <h5>Suggested Keywords:</h5>
                    <div class="col">
                        <table style="border-top-style:dotted; border-top-width:initial;" class="table ">

                            @{Random rnd = new Random(); }
                            @foreach (Keyword k in Model.SuggestedKeywords)
                            {

                                if (rnd.Next() % 2 == 0)
                                {
                                    <tr> <td> <a class="text-primary" href="?keywords=@k.Name"> @k.Name </a> </td> </tr>
                                }
                            }

                        </table>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="container">
                    <div class="row justify-content-center text-right">
                        <div class="col">
                            <label>Search Collections:</label>
                            <form method="get" class="custom-control-inline valid" asp-controller="Browse" asp-action="Index">
                                <input class="form-control" type="text" minlength="3" title="Use at least 3 characters" name="keywords" required pattern=".*\S+.*" />
                                <br />
                                <button type="submit" class="btn btn-outline-dark"> Search </button>
                            </form>
                            <p style="padding-right: 7em"><em>(Enter search by keywords)</em></p>
                        </div>
                    </div>

                    <div class="container">
                        <br />
                        <div class="row">
                            @if (Model.SearchResults != null)
                            {
                                <!--
                                string[] colls = { "/images/card_pics/IMG-0833.JPG", "/images/dogtoy_pics/IMG-0869.JPG", "/images/fish_pics/fish3.png", "/images/puzzel_pics/image_123923953(14).JPG", "/images/tool_pics/IMG-0837.JPG", "/img/2D_example.jpg" };


                                Random rand = new Random();
                                -->


                                @foreach (CollectionKeyword ck in Model.SearchResults)
                                {
                                    <div class="row-cols-auto px-3 browse-result-txt" id="browse-result-txt">
                                        <a class="text-center " href="#">
                                            <code>
                                                <!--<img src=colls[rand.Next(6)] width="100" height="100" alt="" />-->
                                                @{CollectionPhoto cp = AppContext.CollectionPhotos.Where(c => c.CollectId == ck.CollectId).FirstOrDefault();
                                                    Photo photo = AppContext.Photos.Where(p => p.CollectionPhotoes.FirstOrDefault() == cp).FirstOrDefault();}
                                                <img src="data:image;base64,@System.Convert.ToBase64String(ck.Collect.CollectionPhotoes.FirstOrDefault().Photo.Data)" width="100" height="100" alt="" />
                                            </code>
                                            <div class="row text-center justify-content-center btn-outline-dark">
                                                <strong>@ck.Collect.Name</strong>
                                            </div>
                                        </a>
                                        <div class="row g-0 text-dark justify-content-center">
                                            <button type="button" class="btn btn-outline-primary btn-sm fav_btn" data-bs-toggle="button" id="@ck.CollectId" value="@ck.Collect.User.UserName" name="@Model.LoggedInUser.UserName">Add to Favorites</button>
                                        </div>
                                        <div class="row g-0 text-dark justify-content-center">
                                            <div class="col-auto px-0"><em>Owner:&nbsp</em></div>
                                            <div class="col-auto px-0">
                                                <a href="/Collections/@ck.Collect.User.UserName">@ck.Collect.User.UserName</a>
                                            </div>
                                        </div>
                                        <div class="row g-0 text-dark justify-content-center">
                                            <div class="text-dark"><em>Keyword(s):&nbsp</em></div>
                                            <div>
                                                <a href="?keywords=@ck.Keyword.Name">@ck.Keyword.Name</a>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>