@model IEnumerable<Collection>

@{
    ViewData["Title"] = "Create iCollection";
}

<h1>Publishing Success!!</h1>
<h3>Here is a Current List of your Collections</h3>
<div class="row">
    <div class="col-6">
        <h1>Collections:</h1>
        @foreach (var collection in Model)
        {
            <div class="collection-container">
                <a class="btn btn-primary" asp-controller="Home" asp-action="@collection.Route" asp-route-collectionID="@collection.Id">@collection.Name</a>
                <p>@collection.DateMade</p>
                <div class="keyword-container">
                    @foreach (var kw in collection.CollectionKeywords)
                    {
                        <p>@kw</p>
                    }
                </div>
            </div>
        }
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-controller="Dashboard" asp-action="Index">Return to Dashboard</a>
</div>
